.converter{
  padding: 2rem;
  
  &_select{
    border: none;    
  }
  
  &_inputs{
    display: flex;
    gap: 1rem;
    background-color: rgba(132, 165, 42, 0.265);
    padding: 1rem;
    align-items: center;

    @media (max-width: 920px) {
      flex-direction: column;
    }
  }
  
  &_input{
      border: none;
  }
  
  &_result{
      margin: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
  }

  &_history {
    margin: 0.5rem;
  }
}

